* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

header {
    margin: 47px 0 100px 42px;
}

.link-header{
    margin-left: 32px;
    font-size: 14px;
    color: #17233D;
}

button {
    width: 124px;
    height: 51px;
    margin-left: 32px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    background: #6FBF44;
}

section {
    display: inline-block;
    margin-left: 84.82px;
}

.coverage-img {
    height: 500px;
    width: 595.18px;
    margin-left: 121px;
    display: inline-block;
}

.container-left {
    position: relative;
    margin-left: 84.82px;
    margin-top: 90px;
    margin-bottom: 114px;
}

h1 {
    width: 582px;
    font-size: 62px;
    font-weight: 800;
    color: #161A49;
}

p {
    margin-top: 47px;
    margin-bottom: 55px;
    width: 493px;
    font-size: 18px;
    font-weight:500;
    line-height: 40px;
    color: #4B505A;
}

a {
    font-size: 18px;
    color: #6FBF44;
}

button:active {
    cursor: pointer;
    background-color: rgba(3, 128, 3, 0.5);
}

a:hover {
    cursor: pointer;
}

a:active {
    color: rgba(3, 128, 3, 0.3);
}

@media screen and (max-width: 830px) and (orientation: portrait){
    .link-header {
        display: none;
    }

    .wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
}

    section {
        display: block;
        margin: 0;
    }

    button {
    position: absolute;
    width: 91px;
    height: 31px;
    border-radius: 10px;
    font-size: 12px;
    border: none;
    color: #FFFFFF;
    background: #6FBF44;
    right: 15px;
    top: 17px;
}

.information-principal {
    width: 304px;
    margin: 0 auto;
}

.coverage-img {
    height: 288px;
    width: 312px;
    bottom: 22px;
    margin: 0 9%;
    position: absolute;
}

.container-left {
    display: block;
    height: auto;
    position: static;
    margin: 0;
}

h1 {
    width: 278px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: #161A49;
}

p {
    margin-top: 47px;
    margin-bottom: 55px;
    width: 304px;
    font-size: 18px;
    font-weight:500;
    text-align: center;
    line-height: 40px;
    color: #4B505A;
}

a {
    
    font-size: 18px;
    text-align: center;
    color: #6FBF44;
    position: relative;
    display: block;
}
}